html,
body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}
#content {
  height: 100%;
  background: #edf2f4;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.header {
  margin: 0;
  background-color: #d90429;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #edf2f4;
  text-shadow: black 3px 5px;

  grid-column: 1/-1;
  align-self: center;
}
.desc {
  grid-column: 1/4;
  margin-left: 20px;
  font-size: 18px;
}
h2 {
  grid-row: 3;
  grid-column: 2;
  justify-self: center;
  align-self: end;
}
.dishes {
  border: solid yellowgreen;
  grid-column: 1/4;
  grid-row: 4;
  margin-left: 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dishes > div {
  border: solid blueviolet;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.img0 {
  height: 100%;
  background: url(https://i.pinimg.com/564x/a8/2e/1e/a82e1e2d85e19d22a91db9d228fca472.jpg)
    bottom no-repeat;
  background-size: cover;
  border: solid #8d99ae;
  border-radius: 5px;
  width: 180px;
}
