html,
body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}
#content {
  height: 100%;
  background: #edf2f4;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.header {
  margin: 0;
  background-color: #d90429;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #edf2f4;
  text-shadow: black 3px 5px;

  grid-column: 1/-1;
  align-self: center;
}
.desc {
  grid-column: 1/4;
  margin-left: 20px;
  font-size: 18px;
}
h2 {
  grid-row: 3;
  grid-column: 2;
  justify-self: center;
  align-self: end;
}
.dishes {
  border: solid yellowgreen;
  grid-column: 1/4;
  grid-row: 4;
  margin-left: 20px;
}
